process {

    executor       = 'slurm'

    errorStrategy  = 'retry'

    maxRetries     = 3

    maxErrors      = 5



    // DEFAULT for lightweight steps (still carries --gres=gpu:1 to satisfy Kempner)

    cpus           = 4

    memory         = '32 GB'

    time           = '4h'

    clusterOptions = '-p kempner -A kempner_bsabatini_lab --gres=gpu:1'

}



process {

    // OVERRIDE for the three heavy‐weight spike sorting steps

    withName: 'spikesort_kilosort4' {

        cpus           = 16

        memory         = '128 GB'

        time           = '24h'

        // inherits --gres=gpu:1 from the global block, so no need to repeat

    }

    withName: 'spikesort_kilosort25' {

        cpus           = 16

        memory         = '128 GB'

        time           = '24h'

    }

    withName: 'spikesort_spykingcircus2' {

        cpus           = 16

        memory         = '128 GB'

        time           = '24h'

    }

}



//process {
   // executor = 'slurm'
   // clusterOptions = ' -p kempner -A kempner_bsabatini_lab --gres=gpu:1'
   // errorStrategy = 'retry'
   // time = '24h'
  // maxRetries = 3
  //  maxErrors = 5
    //debug = true
//}

singularity {
    enabled = true
    singularity.autoMounts = true
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_CLOUD_DIR' ]
}

dag {
    enabled = true
    file = RESULTS_PATH + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = RESULTS_PATH + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = RESULTS_PATH + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = RESULTS_PATH + '/nextflow/trace.txt'
    overwrite = true
}
